In [1]:
import numpy as np

In [3]:
tstar = 1.96
p = 0.85
n = 659

In [4]:
se = np.sqrt((p*(1-p))/n)

In [5]:
se

0.01390952774409444

In [6]:
lcb = p - tstar*se
ucb = p + tstar*se
(lcb, ucb)

(0.8227373256215749, 0.8772626743784251)

In [8]:
import statsmodels.api as sm

In [10]:
sm.stats.proportion_confint(n * p, n)

(0.8227378265796143, 0.8772621734203857)

In [11]:
import pandas as pd
df = pd.read_csv("Cartwheeldata.csv")

In [12]:
df.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.0,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [13]:
mean = df['CWDistance'].mean()

In [14]:
sd = df['CWDistance'].std()

In [15]:
n = len(df)

In [16]:
tstar = 2.064 #because sample size is less than 30

In [18]:
se = sd/np.sqrt(n)

In [19]:
se

3.0117104774529713

In [20]:
lcb = mean - tstar*se
ucb = mean + tstar*se
(lcb, ucb)

(76.26382957453707, 88.69617042546294)

In [21]:
sm.stats.DescrStatsW(df["CWDistance"]).zconfint_mean()

(76.57715593233024, 88.38284406766977)